@import "../utils/_variables";

.back-button{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    padding: 10px;
    border: 1px solid transparent
}