@import "../utils/_variables";
@import "../utils/mixins";

.socials{
    display: flex;
    flex-direction: column;
    gap: 25px;

    .register-text{
        position: relative;
        text-align: center;
        span{
            padding: 10px;
            background-color: #fff;
        }
        .separator{
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color-primary-regular;
            z-index: -9999;
        }
    }

    .register-options{
        display: flex;
        .register-option{
            padding: 10px;
            flex-grow: 1;
            background-color: $color-white;
            border: 2px solid $color-primary-light;
            border-radius: 8px;
            img{
                height: 30px;
            }
        }
    }
}