main {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 24px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
