.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: $color-white;
    border-radius: 20px 20px 0px 0px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
    padding: 8px 8px 24px 8px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        align-items: center;
        font-size: 1.5rem;
        padding: 8px 16px;
        span{
            font-size:8px;
        }
    }
    .active{
        color: $color-white;
        background-color: $color-primary-regular;
        border-radius: 24px;
        svg{
            path{
                stroke: $color-white;
            }
        }
    }
}