.profile-container {
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 22px;

  & svg{
    width: 24px;
    height: 24px;
  }

  .close-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    padding: 8px;
  }
  .active{
    background-color: $color-primary-regular;
    border-radius: 8px;
    svg path{
      stroke: $color-white;
    }
  }
  .profile-header {
    align-self: self-start;
    display: flex;
    align-items: center;
    gap: 25px;
    color: $color-neutral-dark;
    .profile-picture {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid $color-primary-regular;
    }
    .profile-name{
      font-size: 20px;
      font-weight: 700;
    }
    .profile-email{
      font-size: 16px;
      font-weight: 400;
    }
  }
  .user-options{
    display: flex;
    flex-direction: column;
    width: 114%;
    padding: 15px 20px;
    gap: 16px;

    .profile-options {
      display: flex;
      flex-direction: column;
      padding: 15px 0px;
      gap: 21px;
      border-top: 1px solid $color-neutral-light;
      border-bottom: 1px solid $color-neutral-light;
      .option{
        display: flex;
        justify-content: center;
        align-items: center;
        .option-section{
          display: flex;
          gap: 16px;
          align-items: center;
          justify-content: flex-start;
          flex-grow: 1;
        }
      }
    }
  
    .profile-language{
      display: flex;
      width: 100%;
      .option-section{
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
      }
    }
  }

  .logout-btn {
    display: flex;
    width: 312px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid $color-primary-regular;
    background-color: $color-white;
    color: $color-primary-regular;
    font-weight: 600;
    font-size: 15px;
    
  }

  /* Footer styles */
  .profile-footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 0px;
    align-items: center;
    background-color: $color-white;
    gap: 11px;
    font-size: 12px;
    font-weight: 600;
    color: $color-neutral-dark;
    .collab{
      display: flex;
      width: 65%;
      gap: 8px;
      .community-flag {
        width: 48px;
        height: auto;
      }
    }
  }
}
