.profile-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  & svg{
    width: 24px;
    height: 24px;
  }
  .profile-header {
    align-self: self-start;
    display: flex;
    align-items: center;
    gap: 25px;
    color: $color-neutral-dark;
    .profile-picture {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid $color-primary-regular;
    }
    .profile-name{
      font-size: 20px;
      font-weight: 700;
    }
    .profile-email{
      font-size: 16px;
      font-weight: 400;
    }
  }
  .profile-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .option{
      display: flex;
      justify-content: center;
      align-items: center;
      .option-section{
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
      }
    }
  }

  .profile-language{
    display: flex;
    width: 100%;
    .option-section{
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: flex-start;
      flex-grow: 1;
    }
  }
  .logout-btn {
    display: flex;
    width: 312px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid $color-primary-regular;
    background-color: $color-white;
    color: $color-primary-regular;
    font-weight: 600;
    font-size: 15px;
    
  }

  /* Footer styles */
  .profile-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    gap: 11px;
    font-size: 12px;
    font-weight: 600;
    color: $color-neutral-dark;
    .collab{
      display: flex;
      width: 65%;
      gap: 8px;
      .community-flag {
        width: 48px;
        height: auto;
      }
    }
  }
}
