.profile-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
  
    .profile-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 25px;
      color: #333;
  
      .profile-logo {
        display: flex;
        align-items: center;
        gap: 10px;
  
        img {
          width: 40px;
          height: 40px;
        }
      }
  
      .profile-picture {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid #007bff;
        color: #007bff;
      }
  
      .profile-info {
        width: 100%;
        display: flex;
        flex-direction: column;
  
        .title {
          font-size: 2em;
        }
  
        .user-table {
          width: 100%;
          margin-top: 15px;
          border-collapse: separate;
          border-spacing: 0 15px;
  
          th {
            text-align: left;
            padding: 5px 0;
            width: 150px;
            font-weight: bold;
            border-bottom: 1px solid #ccc;
          }
  
          td {
            padding: 15px 15px;
            font-size: 1rem;
            border-bottom: 1px solid #ccc;
          }
        }
      }
  
      .change-password-btn {
        background-color: white;
        color: red;
        border: 1px solid red; 
        padding: 14px 30px; 
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-transform: uppercase; 
  
        &:hover {
          background-color: #fff0f0;
        }
      }
    }
  }
  